# Copie este arquivo para .env.development ou .env.production
# Exemplo:
#   cp .env.example .env.development

# Ambiente atual (development/production)
APP_ENV=development

# API backend
API_URL=http://192.168.2.9:3000/api

# OpenRouteService
ORS_API_KEY=COLE_SUA_CHAVE_AQUI
ORS_PROFILE=driving-car
